---
layout: default
---
<h1>Blog (Project Updates)</h1>
<p>These are the updates I've made to this project. If you need to get up to date, just browse through the entries, and it should tell most of the story.</p>
<ul style="padding: 0px 50px 0px 50px; list-style: circle;">
{% for post in paginator.posts %}
	{% if post.title != null %}
	<li>
		<a href="{{ post.source }}" title="{{ post.title }}" style="color:#000; font-size: 12px;">{{ post.title }}</a>
		<span style="color:#000; font-size: 12px;">(&nbsp;<a href="http://{{ post.source }}" style="color:#000; font-size: 12px;"><i>{{ post.date | date_to_string }}</i></a>)</span>
	</li>
	{% endif %}
{% endfor %}
</ul>
